body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

/*
---------------
Navbar section
---------------
*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  padding: 10px 20px;
  width: 70%;
  margin: auto;
  color: white;
  position: relative;
}

.nav-hr {
  width: 70%;
  opacity: 0.3;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-links a:hover {
  background-color: #575757;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/*
---------------
Fullscreen Container
---------------
*/

.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  color: white; /* Example text color */
}

.fullscreen h1 {
  font-size: 10rem; /* Example font size */
  text-align: center;
  margin: 0;
  animation: zoom-animation 1s infinite; /* Apply animation */
}

/* Features Section */
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.features p {
  font-size: 4rem; /* Larger font size */
  text-align: center;
  margin: 20px 0;
  width: 100%;
}

/*
---------------
Profound sound section
---------------
*/

.background-section {
  background-image: url("../assets/hero_homepod.jpg"); /* Path to your background image */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Text color for contrast */
  margin-top: 200px;
  margin-bottom: 200px;
}

.background-section h3 {
  font-size: 8rem; /* Large text size */
  margin: 0;
  padding: 0;
}

.background-section p {
  font-size: 1.5rem; /* Slightly smaller text size */
  margin: 10px 0 0;
  color: gray;
  padding: 0;
}

/*
---------------
High-fidelity audio section
---------------
*/

.high-fidelity-section {
  width: 70%;
  margin: 0 auto; /* Center the div */
}

.high-fidelity-section p:first-child {
  font-size: 2rem; /* Medium text size for the first paragraph */
}

.high-fidelity-section p:first-child::after {
  content: "";
  display: block;
  width: 50px; /* Adjust the width of the line */
  height: 2px; /* Adjust the height of the line */
  background-color: black; /* Color of the line */
  margin: 10px 0; /* Adjust the spacing */
}

.high-fidelity-section h2 {
  font-size: 7rem;
  margin-right: 160px;
}

.high-fidelity-section p {
  font-size: 2rem; /* Medium text size for other paragraphs */
  line-height: 1.5; /* Adjust line height for better readability */
  margin-right: 360px;
}

/*
---------------
 homePod details section  
--------------- 
 */

.homepod-details-container {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Align items at the start of the flex container */
}

.homepod-image img {
  height: 545px !important;
  width: 452px !important;
  height: auto;
  margin: 0%;
}

.homepod-text {
  flex: 0 0 50%; /* Take up 50% of the width */
  padding-left: 20px; /* Adjust as needed for spacing between image and text */
}

/*
---------------
 Sound all around section  
--------------- 
 */

.sound-bg {
  display: block;
  margin: 0 auto;
  width: 70%; /* Set the width to 70% */
  height: auto; /* Allow the height to adjust proportionally */
  border: 20px solid transparent; /* Set initial transparent border */
  border-radius: 30px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 0px 40px;
}
.content-container h3 {
  width: 20%;
  font-size: 30px;
}
.content-container p {
  color: gray;
  padding-top: 5px;
  font-size: 25px;
  width: 30%;
}

/*
 -----------------
 slider image section
 -----------------
 */

.slider {
  overflow: hidden; /* Hide overflowing content */
}

.flex-container {
  display: flex;
  width: 300%;
  animation: slide infinite; /* Adjust animation duration as needed */
}

/* 
-------------
dynamic as a duo
--------------
  */

.apple-background-section {
  background-image: url("./assets/apple.jpg"); /* Path to your background image */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Text color for contrast */
  margin-top: 100px;
}

.apple {
  padding-top: 400px;
}

.shark-bg {
  display: block;
  margin: 0 auto;
  width: 100%; /* Set the width to 70% */
  background-size: cover;
  height: auto; /* Allow the height to adjust proportionally */
  border-radius: 30px;
}
.shark-hr {
  width: 50%;
  opacity: 0.3;
}

/*
-------------
image template section
-------------

*/

.container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center; /* Center the grid items horizontally */
  align-items: center;
  justify-items: center;
  width: 70%;
  margin: auto;
}

.container img {
  max-width: 100%;
  height: auto;
}

/* 
-------------
All your devices section
--------------
  */

.device-background-section {
  background-image: url("./assets/hand.jpg"); /* Path to your background image */
  background-position: right;
  background-repeat: no-repeat;
  /* height: 100vh; Full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Text color for contrast */
  margin-top: 100px;
}

.device {
  margin-top: 900px;
}

/*
-------------
Image slider 
-------------

*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.flex-container img {
  flex: 0 0 auto; /* Reset flex properties */
  width: auto; /* Ensure images take up full width of flex container */
  max-height: 200px; /* Adjust maximum height as needed */
  height: auto; /* Maintain aspect ratio */
}
/* Zoom Animation */
@keyframes zoom-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px; /* Adjust as needed based on your navbar height */
    left: 0;
    background-color: #333;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links li {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  /* FullScreen  */

  .fullscreen h1 {
    font-size: 4rem;
  }

  /* Features Section */
  .features {
    padding: 0px;
    width: 100%;
  }
  .features p {
    font-size: 2rem;
  }

  /* profound section  */

  .background-section {
    margin-top: 200px;
    width: 100vw;
    padding: 0px;
  }
  .background-section h3 {
    font-size: 5rem; /* Large text size */
    margin: 0;
    padding: 0;
  }

  /* High-fidelity audio section */
  .high-fidelity-section {
    margin-top: 200px;
    width: 90%;
  }

  .high-fidelity-section h2 {
    font-size: 3rem;
    margin-right: 0px;
  }

  .high-fidelity-section p {
    margin-right: 0px;
  }

  /*
---------------
 homePod details section  
--------------- 
 */

  .homepod-details-container {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .homepod-image img {
    height: 445px !important;
    width: 352px !important;
    height: auto;
    margin: 0%;
  }

  /*
---------------
 Sound all around section  
--------------- 
 */

  .sound-bg {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0px;
  }
  .content-container {
    margin-top: 30px;
    flex-direction: column;
  }
  .content-container h3 {
    width: 80%;
    margin: auto;
  }
  .content-container p {
    font-size: 15px;
    width: 80%;
    margin: auto;
  }
  /*
-------------
image template section
-------------

*/

  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .container img {
    max-width: 100%;
    height: auto;
  }
  /* 
-------------
All your devices section
--------------
  */

  .device-background-section {
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .device {
    margin-top: 250px;
  }
}
