body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

/*
---------------
Navbar section
---------------
*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  padding: 10px 20px;
  width: 70%;
  margin: auto;
  color: white;
  position: relative;
}

.nav-hr {
  width: 70%;
  opacity: 0.3;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-links a:hover {
  background-color: #575757;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/*
---------------
Fullscreen Container
---------------
*/

.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  color: white; /* Example text color */
}

.fullscreen h1 {
  font-size: 10rem; /* Example font size */
  text-align: center;
  margin: 0;
  animation: zoom-animation 2s infinite; /* Apply animation */
}

/* Features Section */
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.features p {
  font-size: 4rem; /* Larger font size */
  text-align: center;
  margin: 20px 0;
  width: 100%;
}

/*
---------------
Profound sound section
---------------
*/

.background-section {
  background-image: url("../assets/hero_homepod.jpg"); /* Path to your background image */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Text color for contrast */
  margin-top: 200px;
  margin-bottom: 200px;
}

.background-section h3 {
  font-size: 8rem; /* Large text size */
  margin: 0;
  padding: 0;
}

.background-section p {
  font-size: 1.5rem; /* Slightly smaller text size */
  margin: 10px 0 0;
  color: gray;
  padding: 0;
}

/*
---------------
High-fidelity audio section
---------------
*/

.high-fidelity-section {
  width: 70%;
  margin: 0 auto; /* Center the div */
}

.high-fidelity-section p:first-child {
  font-size: 2rem; /* Medium text size for the first paragraph */
}

.high-fidelity-section p:first-child::after {
  content: "";
  display: block;
  width: 50px; /* Adjust the width of the line */
  height: 2px; /* Adjust the height of the line */
  background-color: black; /* Color of the line */
  margin: 10px 0; /* Adjust the spacing */
}

.high-fidelity-section h2 {
  font-size: 7rem;
  margin-right: 160px;
}

.high-fidelity-section p {
  font-size: 2rem; /* Medium text size for other paragraphs */
  line-height: 1.5; /* Adjust line height for better readability */
  margin-right: 360px;
}

/*
---------------
 homePod details section  
--------------- 
 */

.homepod-details-container {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Align items at the start of the flex container */
}

.homepod-image img {
  height: 545px !important;
  width: 452px !important;
  height: auto;
  margin: 0%;
}

.homepod-text {
  flex: 0 0 50%; /* Take up 50% of the width */
  padding-left: 20px; /* Adjust as needed for spacing between image and text */
}

/*
---------------
 Sound all around section  
--------------- 
 */

.sound-bg {
  display: block;
  margin: 0 auto;
  width: 70%; /* Set the width to 70% */
  height: auto; /* Allow the height to adjust proportionally */
  border: 20px solid transparent; /* Set initial transparent border */
  border-radius: 30px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 0px 40px;
}
.content-container h3 {
  width: 20%;
  font-size: 30px;
}
.content-container p {
  color: gray;
  padding-top: 5px;
  font-size: 25px;
  width: 30%;
}

/*
 -----------------
 slider image section
 -----------------
 */

.slider {
  overflow: hidden; /* Hide overflowing content */
}

.flex-container {
  display: flex;
  width: 300%;
  animation: slide infinite; /* Adjust animation duration as needed */
}

/* 
-------------
dynamic as a duo
--------------
  */

.apple-background-section {
  background-image: url("./assets/apple.jpg"); /* Path to your background image */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Text color for contrast */
  margin-top: 100px;
}

.apple {
  padding-top: 400px;
}

.shark-bg {
  display: block;
  margin: 0 auto;
  width: 100%; /* Set the width to 70% */
  background-size: cover;
  height: auto; /* Allow the height to adjust proportionally */
  border-radius: 30px;
}
.shark-hr {
  width: 50%;
  opacity: 0.3;
}

/*
-------------
image template section
-------------

*/

.container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center; /* Center the grid items horizontally */
  align-items: center;
  justify-items: center;
  width: 70%;
  margin: auto;
}

.container img {
  max-width: 100%;
  height: auto;
}

/* 
-------------
All your devices section
--------------
  */

.device-background-section {
  background-image: url("./assets/hand.jpg"); /* Path to your background image */
  background-position: right;
  background-repeat: no-repeat;
  /* height: 100vh; Full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Text color for contrast */
  margin-top: 100px;
}

.device {
  margin-top: 900px;
}

/*
-------------
High IQ
-------------
*/
.high-bg {
  display: block;
  margin: 0 auto;
  width: 60%; /* Set the width to 70% */
  background-size: cover;
  height: auto; /* Allow the height to adjust proportionally */
  border-radius: 30px;
}

.high-iq {
  width: 70%;
  margin: auto;
}
.high-iq-p {
  font-size: 40px;
  margin-left: 200px;
}

.high-text {
  font-size: 80px;
  width: 70%;
  margin: auto;
  font-weight: bold;
}

.high-text-p2 {
  font-size: 30px;
  margin-left: 200px;
  font-weight: 800;
  color: #d1cfcf;
}

/*
-------------
Siri section
-------------
*/

.siri-container {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: start;
  margin-bottom: -40px;
}

.siri-container img {
  max-width: 100px; /* Adjust the max width of the image as needed */
  height: auto;
  margin-right: 10px; /* Adjust the spacing between the image and text */
}

.siri-container h2 {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.siri-container h2 span {
  background: linear-gradient(
    90deg,
    #e068eb,
    #3ea7e4
  ); /* Gradient text color */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.siri-p {
  padding-top: 40px;
  opacity: 0.5;
  width: 50%;
  margin: auto;
  font-size: 30px;
}

.hey-siri {
  font-size: 60px;
  font-weight: bold;
}

.hey-siri span {
  background: linear-gradient(90deg, #e068eb, #3ea7e4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
-------------
Image slider 
-------------

*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.flex-container img {
  flex: 0 0 auto; /* Reset flex properties */
  width: auto; /* Ensure images take up full width of flex container */
  max-height: 200px; /* Adjust maximum height as needed */
  height: auto; /* Maintain aspect ratio */
}

/*
 ------------
 Card  
 ------------
 */

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 60%;
  margin: 0 auto;
}

.card {
  padding: 20px;
}

.card img {
  width: 30%; /* Adjust the width of the image to fill the container */
  height: auto; /* Maintain the aspect ratio */
  margin-bottom: 10px; /* Adjust the margin at the bottom of the image */
}

.card h2 {
  font-weight: bold; /* Make the title bold */
}

.card p {
  color: gray; /* Gray color for the description */
}

/*
 ------------
White Background part
 ------------
 */
.white-section {
  background-color: white;
  margin-top: 120px;
  color: black;
  padding-bottom: 40px;
}

.ar {
  background-color: #f5f5f7;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.circle-img {
  margin-top: 40px;
  width: 60px;
  height: auto;
}
.ar-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1; /* Adjust line height to reduce the gap */
}

.ar-details {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.4;
  line-height: 1; /* Adjust line height to reduce the gap */
}

.music-details {
  color: rgb(42, 134, 187);
  border: none;
  font-weight: bold;
}
.music {
  background-color: #f5f5f7;
  margin-top: 20px;
  padding-top: 140px;
  padding-bottom: 140px;
  display: flex;
  justify-content: end;
  gap: 180px;
}

/*
 ------------
which homePod
 ------------
 */

.homePod {
  margin-top: 20px;
  padding-top: 90px;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homePod h4 {
  font-size: 70px;
  font-weight: bold;
}

.homePod-cards {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 70px;
}
.homePod-card img {
  margin-top: 20px;
}
.homePod-card p {
  margin-bottom: 5px;
  line-height: 1.2;
}
.part {
  line-gap-override: 10px;
}
.homePod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.homePod-title {
  font-size: 20px;
  font-weight: bold;
}

.buy-btn {
  background-color: #2d4fe2;
  border-radius: 45%;
  height: 30px;
  width: 40px;
  color: white;
  border: none;
}
.home-title {
  font-weight: bold;
}

.learn {
  border: none;
  background: transparent;
  color: skyblue;
}
.home-hr {
  width: 70%;
  opacity: 0.3;
}

/*
 ------------
Footer
 ------------
 */
.tv {
  padding-top: 20px;
  font-size: small;
  width: 55%;
  margin: auto;
}
.footer {
  background-color: white;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer-row {
  display: flex;
  justify-content: center; /* Distribute columns evenly */
  align-items: start;
  gap: 80px;
  padding: 20px;
}

.footer-col h4 {
  font-size: small;
  font-weight: bolder;
}

.links {
  list-style: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
}

.links li {
  margin-bottom: 10px; /* Adjust spacing between list items */
  font-size: smaller;
}

.links a {
  text-decoration: none; /* Remove default underline */
  color: #333; /* Set link color */
}

.footer-text {
  font-size: smaller;
  width: 70%;
  margin: auto;
}

.p-foot {
  display: flex;
  gap: 10px;
}
.last-foot {
  display: flex;
  justify-content: space-between;
}

/* Adjust styles as needed */

/*
 ------------
Zoom Animation
 ------------
 */
@keyframes zoom-animation {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px; /* Adjust as needed based on your navbar height */
    left: 0;
    background-color: #333;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links li {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  /* FullScreen  */

  .fullscreen h1 {
    font-size: 4rem;
  }

  /* Features Section */
  .features {
    padding: 0px;
    width: 100%;
  }
  .features p {
    font-size: 2rem;
  }

  /* profound section  */

  .background-section {
    margin-top: 200px;
    width: 100vw;
    padding: 0px;
  }
  .background-section h3 {
    font-size: 5rem; /* Large text size */
    margin: 0;
    padding: 0;
  }

  /* High-fidelity audio section */
  .high-fidelity-section {
    margin-top: 200px;
    width: 90%;
  }

  .high-fidelity-section h2 {
    font-size: 3rem;
    margin-right: 0px;
  }

  .high-fidelity-section p {
    margin-right: 0px;
  }

  /*
---------------
 homePod details section  
--------------- 
 */

  .homepod-details-container {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .homepod-image img {
    height: 445px !important;
    width: 352px !important;
    height: auto;
    margin: 0%;
  }

  /*
---------------
 Sound all around section  
--------------- 
 */

  .sound-bg {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0px;
  }
  .content-container {
    margin-top: 30px;
    flex-direction: column;
  }
  .content-container h3 {
    width: 80%;
    margin: auto;
  }
  .content-container p {
    font-size: 15px;
    width: 80%;
    margin: auto;
  }
  /*
-------------
image template section
-------------

*/

  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .container img {
    max-width: 100%;
    height: auto;
  }
  /* 
-------------
All your devices section
--------------
  */

  .device-background-section {
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .device {
    margin-top: 250px;
  }
  .ar {
    gap: 0px;
  }
  /*
-------------
High IQ
-------------
*/
  .high-bg {
    width: 100%;
    margin-top: 300px;
  }

  .high-iq {
    width: 100%;
    margin: auto;
  }

  .high-iq-p {
    font-size: 20px;
    margin-left: 20px;
  }

  .high-text {
    font-size: 40px;
    width: 100%;
    margin: auto;
    font-weight: bold;
  }

  .high-text-p2 {
    font-size: 30px;
    margin-left: 20px;
    font-weight: 800;
    color: #d1cfcf;
  }

  /*
-------------
Siri section
-------------
*/

  .siri-container {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: start;
    margin-bottom: -20px;
  }

  .siri-container img {
    max-width: 100px; /* Adjust the max width of the image as needed */
    height: auto;
    margin-right: 10px; /* Adjust the spacing between the image and text */
  }

  .siri-container h2 {
    font-size: 20px;
  }

  /*
 ------------
 Card  
 ------------
 */

  .card-container {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }

  /*
------------
White Background part
------------
*/

  .ar {
    background-color: #f5f5f7;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .ar-img {
    width: 70%;
  }
  .ar-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1; /* Adjust line height to reduce the gap */
  }

  .ar-details {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.4;
    line-height: 1; /* Adjust line height to reduce the gap */
  }

  .music-details {
    color: rgb(42, 134, 187);
    border: none;
    font-weight: bold;
  }
  .music {
    background-color: #f5f5f7;
    margin-top: 20px;
    padding-top: 70px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  /*
 ------------
which homePod
 ------------
 */

  .homePod {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .homePod h4 {
    font-size: 40px;
  }

  .homePod-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
  }
  .homePod-card img {
    margin-top: 20px;
  }
  .homePod-card p {
    margin-bottom: 5px;
    line-height: 1.2;
  }
  .part {
    line-gap-override: 10px;
  }
  .homePod-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
  }

  .homePod-title {
    font-size: 20px;
    font-weight: bold;
  }

  .buy-btn {
    background-color: #2d4fe2;
    border-radius: 45%;
    height: 30px;
    width: 40px;
    color: white;
    border: none;
  }
  .home-title {
    font-weight: bold;
  }

  .learn {
    border: none;
    background: transparent;
    color: skyblue;
  }
  .home-hr {
    width: 70%;
    opacity: 0.3;
  }

  /*
------------
Footer
------------
*/

  .footer-row {
    display: flex;
    flex-direction: column;
  }
}
